.h1_title {
    color: white;
    font-size: 9rem;
    font-family: Arial, Helvetica, sans-serif;
}
.subtitle {
    color: white;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2rem;
}
body {
    background-color: rgb(49, 49, 49);
}
.button_redir_div {
    text-align: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    top: 50%;
    z-index: 100;

}
.button_redir {
    background-color: rgb(37, 37, 37);
    border: 0.2rem solid;
    padding: 1rem 1rem;
    font-size: 2rem;
    color: white;
    border-color: rgb(27, 27, 27);
    border-radius: 5rem;
    width: 10rem;
    height: 5rem;
    text-align: center;
}

.button_redir:hover  {
  transition: all .5s ease-in;
  background-color: rgb(99, 99, 99);
}


.footer {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: rgb(41, 41, 41);
	color: white;
    padding: 1rem;
    z-index: 20; /*Scuffed but makes it render on top basicly ill fix it properly later trust*/

}

.footer_link {
    color: white;
    text-decoration: none;
    margin-right: 5rem;
    margin-left: 5rem;    
    border-radius: 5rem;
    padding: 1rem 1rem;
}
.footer_link:hover {
    background-color: rgb(65, 65, 65);

}
.header {
    position: fixed;
	width: 100%;
	background-color: rgb(41, 41, 41);
	color: white;
    left: 0;
    padding: 1rem;
    top: 0;
    z-index: 20; /*Scuffed but makes it render on top basicly ill fix it properly later trust*/
    }

.header_link {
    color: white;
    margin-right: 5rem;
    margin-left: 5rem; 
    text-decoration: none;
    padding: 1rem 1rem;
    border-radius: 5rem;
}

.header_link:hover {
    background-color: rgb(65, 65, 65);
}
.bdiv 
{
    position: absolute;
    width: 90%;
    height: 90%;
    z-index: -1;
}

.settingswidget {
    border: 1px rgb(61, 61, 61);  
    width: 40vh;
    height: 30vh;
    background-color: rgb(65, 65, 65);
    border-radius: 4vh;
    color: white;
    padding: 2vh 2vw;
    font-family: sans-serif;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #343434;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #111111;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #111111;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }